@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7fafc;
  --foreground: #121C2D;
  --primary: #000513;
  --secondary: #ba002a;
  --tertiary: #6d5e00;
  --success: #00A91C;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), system-ui, sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 3px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
